<nav class="navbar navbar-light bg-light justify-content-between" style="background-color: transparent;"
>
  <a class="navbar-brand">MG Charity Tracker</a>
</nav>
    <div class="jumbotron text-center" style="padding-bottom: 0%;padding-top: 0%; color:white; text-shadow: 1px 1px #808080;
     background-image: url(https://images.unsplash.com/photo-1527821468487-b724210d296a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b5545b02981bf0412633553afae9355&auto=format&fit=crop&w=1650&q=80); background-size: 40%; ">
      <h1>My Account</h1>
        <p>Check in here to update or delete your account information</p>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
                <form method="POST" action="/users" class="col-md-6">
                  <div class="form-group">
                      <h4>Edit Account</h4>
                      <br>
                    <label for="createEmail">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="createPassword">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                  </div>
                  <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div> -->
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
    </div>
