<div class="container">
    <div class="row">
        <p></p>
        <p></p>
        <p></p>
    </div>
    <div class="row justify-content-md-center">
        <div class="card-group">
            <div class="card col-md-4">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1544675008-4cc717ba79d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" style="width: 30rem; height: 30rem" alt="Card image cap">
                            <!-- <div class="card-body d-flex flex-column align-items-start" >
                                <p class="card-text"></p>
                            </div> -->
                </div>
            <div class="card" class= "col-md-4">
                    <div class="card-body d-flex flex-column align-items-start">
                                <br>
                                <h4 class="card-text"> Email:{{user.email}}</h4>
                                <p></p>

                                <form method="POST" action="/users/{{user._id}}?_method=PUT">
                                  <div class="form-group">
                                      <h4>Edit Account</h4>
                                      <br>
                                    <label for="editEmail">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter new email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                  </div>
                                  <div class="form-group">
                                    <label for="createPassword"> Change Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                  </div>

                            <div class="btn-toolbar">
                                <button type="submit"   class="btn btn-block btn-lg btn-primary">Update Account</button>
                                <button type="button" onclick="location.href='/dashboard'" class="btn btn-block btn-lg btn-primary">Delete Account</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
