<nav class="navbar navbar-light bg-light justify-content-between style="background-color: transparent;"
">
  <a class="navbar-brand">MG Charity Tracker</a>
</nav>
    <div class="jumbotron text-center" style="padding-bottom: 30%;padding-top: 15%; color:white; text-shadow: 1px 1px #808080;
     background-image: url(https://images.unsplash.com/photo-1527821468487-b724210d296a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b5545b02981bf0412633553afae9355&auto=format&fit=crop&w=1650&q=80); background-size: 200%; ">
      <h1>Welcome</h1>
      <p>{{user._id}}</p>
        <p>Thanks for choosing us to keep track of your charities!</p>
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <form method="POST" action="/city-create">
                    <div class="input-group" >
                        <input type="text" name="state" id="state" class="form-control" placeholder="Please select a state or city">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
    </form>
<!-- <div class="row">
    <div class=" col-lg-12">
        <h4 style="font-family: Helvetica;">Featured Charities</h4>
    </div>
</div>
    <div class="container">
        <div class="row">
            {{#each charity}}

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1500837744038-ec60054ed01e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a6afec6e65db063cc6e263f5a955a54f&auto=format&fit=crop&w=1650&q=80" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-text" name= {{charity}}>{{this.charityName}}</h4>
                <p class="card-text">{{this.irsClassification.nteeClassification}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-info">Select</button>
                    <button type="button" class="btn btn-sm btn-outline-info">More Info</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          {{/each}} -->
